/**************************************** BASE COLORS *****************************************/
/* stroke / fill */
/**************************************** BASE COLORS *****************************************/

/********* TRANSPARENT *********/
.stroke-transparent {
  stroke: transparent !important;
}

.fill-transparent {
  fill: transparent !important;
}

/********* Base 100 *********/

.stroke-base-100 {
  stroke: var(--color-base-100) !important;
}

.fill-base-100 {
  fill: var(--color-base-100) !important;
}

/********* Base 200 *********/

.stroke-base-200 {
  stroke: var(--color-base-200) !important;
}

.fill-base-200 {
  fill: var(--color-base-200) !important;
}

/********* Base 300 *********/

.stroke-base-300 {
  stroke: var(--color-base-300) !important;
}

.fill-base-300 {
  fill: var(--color-base-300) !important;
}

/********* Base content *********/

.stroke-base-content {
  stroke: var(--color-base-content) !important;
}

.fill-base-content {
  fill: var(--color-base-content) !important;
}

/**************************************** SEMANTIC COLORS *****************************************/
/* stroke / fill  / stroke-soft / fill-soft */
/* CONTENT VARIANTS */
/**************************************** SEMANTIC COLORS *****************************************/

/********* Primary *********/

.stroke-primary {
  stroke: var(--color-primary) !important;
}

.fill-primary {
  fill: var(--color-primary) !important;
}

.stroke-primary-soft {
  stroke: var(--color-primary-soft) !important;
}

.fill-primary-soft {
  fill: var(--color-primary-soft) !important;
}

/********* Primary content *********/
.stroke-primary-content {
  stroke: var(--color-primary-content) !important;
}

.fill-primary-content {
  fill: var(--color-primary-content) !important;
}

/********* Secondary *********/

.stroke-secondary {
  stroke: var(--color-secondary) !important;
}

.fill-secondary {
  fill: var(--color-secondary) !important;
}

.stroke-secondary-soft {
  stroke: var(--color-secondary-soft) !important;
}

.fill-secondary-soft {
  fill: var(--color-secondary-soft) !important;
}

/********* Secondary content *********/

.stroke-secondary-content {
  stroke: var(--color-secondary-content) !important;
}

.fill-secondary-content {
  fill: var(--color-secondary-content) !important;
}

/********* Accent *********/

.stroke-accent {
  stroke: var(--color-accent) !important;
}

.fill-accent {
  fill: var(--color-accent) !important;
}

.stroke-accent-soft {
  stroke: var(--color-accent-soft) !important;
}

.fill-accent-soft {
  fill: var(--color-accent-soft) !important;
}

/********* Accent content *********/

.stroke-accent-content {
  stroke: var(--color-accent-content) !important;
}

.fill-accent-content {
  fill: var(--color-accent-content) !important;
}

/********* Neutral *********/

.stroke-neutral {
  stroke: var(--color-neutral) !important;
}

.fill-neutral {
  fill: var(--color-neutral) !important;
}

.stroke-neutral-soft {
  stroke: var(--color-neutral-soft) !important;
}

.fill-neutral-soft {
  fill: var(--color-neutral-soft) !important;
}

/********* Neutral content *********/

.stroke-neutral-content {
  stroke: var(--color-neutral-content) !important;
}

.fill-neutral-content {
  fill: var(--color-neutral-content) !important;
}

/**************************************** SEMANTIC STATUS COLORS *****************************************/
/* stroke / fill  / stroke-soft / fill-soft */
/**************************************** SEMANTIC STATUS COLORS *****************************************/

/* ********* Info *********/
.stroke-info {
  stroke: var(--color-info) !important;
}
.fill-info {
  fill: var(--color-info) !important;
}

.stroke-info-soft {
  stroke: var(--color-info-soft) !important;
}
.fill-info-soft {
  fill: var(--color-info-soft) !important;
}

/********* Info content *********/
.stroke-info-content {
  stroke: var(--color-info-content) !important;
}
.fill-info-content {
  fill: var(--color-info-content) !important;
}

/********* Success *********/
.stroke-success {
  stroke: var(--color-success) !important;
}
.fill-success {
  fill: var(--color-success) !important;
}

.stroke-success-soft {
  stroke: var(--color-success-soft) !important;
}
.fill-success-soft {
  fill: var(--color-success-soft) !important;
}

/********* Success content *********/
.stroke-success-content {
  stroke: var(--color-success-content) !important;
}
.fill-success-content {
  fill: var(--color-success-content) !important;
}

/* ********* Warning *********/
.stroke-warning {
  stroke: var(--color-warning) !important;
}
.fill-warning {
  fill: var(--color-warning) !important;
}

.stroke-warning-soft {
  stroke: var(--color-warning-soft) !important;
}
.fill-warning-soft {
  fill: var(--color-warning-soft) !important;
}

/********* Warning content *********/
.stroke-warning-content {
  stroke: var(--color-warning-content) !important;
}
.fill-warning-content {
  fill: var(--color-warning-content) !important;
}

/* ********* Error *********/
.stroke-error {
  stroke: var(--color-error) !important;
}
.fill-error {
  fill: var(--color-error) !important;
}

.stroke-error-soft {
  stroke: var(--color-error-soft) !important;
}
.fill-error-soft {
  fill: var(--color-error-soft) !important;
}

/********* Error content *********/
.stroke-error-content {
  stroke: var(--color-error-content) !important;
}
.fill-error-content {
  fill: var(--color-error-content) !important;
}
